@value --sizeMediaQuery from '/src/common/size.css';
@value --colorWhite from '/src/common/colors.css';

.maker {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: --colorWhite;
}

.container {
	display: flex;
	flex: 1;
}

@media screen and (max-width: --sizeMediaQuery) {
	.container {
		flex-direction: column;
	}
}
